$color-primary: #a29374;
$color-grey-dark: #1f1f1f;
$color-grey-light: #dddddd;
$color-grey: #444444;

$color-link-hover: #205083;

$color-bg-gold: $color-primary;
$color-bg-purple: rgb(199, 136, 136);
$color-bg-grey: #999;
$color-bg-black: #333;
